<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DOCUMENTDB_Host" value="https://sidneydocdb.documents.azure.com:443/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DOCUMENTDB_Key" value="njx90Y56xRgKh4uzNnR3aAA7hYasN8zAQHFP1Nk8kU2yBe2IXpNDlxxt5fPDDkOtGCURczQkw98IMPiq5GcfKw==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DOCUMENTDB_Database" value="contoso" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DOCUMENTDB_Collection" value="assets" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
