@model HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-1">Error.</h1>
        <p class="lead">An error occurred while processing your request.</p>
        <hr class="my-4" />
        @if (Model != null)
        {
            <p>
                @Model.Exception.Message
            </p>
        }
    </div>
</body>
</html>
